.uploads{
    display: flex;
    width: fit-content;
    margin: auto;
}

.uploads div h3{

    text-decoration: underline;
    margin-bottom: 25px;
}

.uploads div{
    margin: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

@media(max-width:650px){
    .uploads{
        display: inline-block;
    }

    .uploads div{
       width: fit-content;
    }
}

@media(max-width:650px){
    .uploads div form button{
       margin-top: 10px;
    }
}
